mysql.cnf
tadae/migrations
.venv
*.pyc
.idea/
.coverage
.DS_Store
*.swp
wc_v2_incorrect*tsv
wc_v2_notfound*tsv
wc_v2_results*tsv
wc_v2_correct*tsv
wc_v2_alphas*tsv

wc_v1_correct.tsv
wc_v1_incorrect.tsv
wc_v1_notfound.tsv
wc_v1_results.tsv
wc_v1_alphas*tsv

og_correct.tsv
og_incorrect.tsv
og_notfound.tsv
og_results.tsv
og_alphas*tsv
