backports.functools-lru-cache==1.5
chardet==3.0.4
Click==7.0
coverage==4.5.2
cycler==0.10.0
Django==1.11.21
isodate==0.6.0
kiwisolver==1.1.0
matplotlib==2.1.2
mysqlclient==1.4.1
numpy==1.16.1
pandas==0.24.0
PPool==1.0.0
PyMySQL==0.9.3
pyparsing==2.3.1
python-dateutil==2.7.5
pytz==2018.9
rdflib==4.2.2
six==1.12.0
SPARQLWrapper==1.8.2
subprocess32==3.5.3
