{%extends "base.html"%}
{%block content%}
<h2>List of Entity Annotations</h2>
<p>
    To see the annotation result of your file wait until the corresponding status is "Annotation is complete"
</p>
<table class="w3-table w3-striped w3-hoverable">
    <thead>
    <tr class="w3-black">
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>See raw results</th>
        <th>Annotation results</th>
    </tr>
    </thead>
    <tbody>
    {%for eann in eanns%}
    <tr>
        <td>{{eann.id}}</td>
        <td>{{eann.ann_run.name}} (id={{eann.ann_run.id}})</td>
        <td>{{eann.ann_run.status}}</td>
        <td><a href="ent_ann_raw_results?id={{eann.id}}">raw</a></td>
        <td><a href="ent_ann_recompute?ann={{eann.id}}">results</a></td>

    </tr>
    {%endfor%}
    </tbody>
</table>
{%endblock%}