{%extends "base.html"%}
{%block content%}
<!--<h2></h2>-->
<!--<p>-->
    <!--This work is under-submission.-->
<!--</p>-->
<!--<p class="w3-wide">Web Design</p>-->
    <!--<div class="w3-white">-->
      <!--<div class="w3-dark-grey" style="height:28px;width:85%"></div>-->
    <!--</div>-->

<h2>Sample CSV files can be found here:</h2>

<ul>
    <li><a href="https://github.com/ahmad88me/TADA-NumCol/tree/master/olympic_games">Olympic Games</a></li>
    <li><a href="https://github.com/ahmad88me/TADA-NumCol/tree/master/web_commons/data">Data web commons</a></li>
</ul>

{%endblock%}